h1 {
    text-align: center;
    color: bisque;
}
.hiw {
    padding-top: 10%;
    padding-bottom: 55%;
    height: auto;
    background: url(../img_main/blackboard-school.jpg) 100% 100% no-repeat;
    background-size: cover;
    position: relative;
}
.hiw_in {
    position: absolute;
    width: 75%;
    left: 56%;
    margin-left: -43%;
    color: floralwhite;
}
@media (max-width: 900px) {
    .hiw {
        padding-bottom: 54%;
    }
}
@media (max-width: 750px) {
    .hiw {
        padding-bottom: 53%;
    }
}
@media (max-width: 650px) {
    .hiw {
        padding-bottom: 52%;
    }
}
@media (max-width: 575px) {
    .hiw {
        padding-bottom: 51%;
    }
    h1 {
        font-size: 2rem;
    }
}
@media (max-width: 575px) {
    h1 {
        font-size: 1.5rem;
    }
    .hiw_in {
        font-size: 14px;
    }
}
@media (max-width: 450px) {
    .hiw {
        background-image: none;
        background-color: #47524A;
        padding-bottom: 70%;
        opacity: 0.7;
    }
}
@media (max-width: 350px) {
    .hiw {
        padding-bottom: 90%;
    }
}
@media (max-width: 325px) {
    .hiw {
        padding-bottom: 110%;
    }
}
@media (max-width: 300px) {
    .hiw {
        padding-bottom: 130%;
    }
}