<bs-navbar (enterEvent2)="wEnterEvent2($event)"></bs-navbar>

<article class="hiw">
  <h1>
    how-it-works works!
  </h1>
  <div class="hiw_in">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, accusantium aliquam amet animi assumenda atque cum debitis esse expedita incidunt labore, nam nemo nesciunt officia praesentium quisquam quod reiciendis unde veritatis voluptatum. Aliquid architecto corporis delectus earum ipsam minima molestias non porro sequi, similique. Et explicabo minus omnis quis. Debitis deleniti deserunt dolore, earum eum ex excepturi facilis, fugit hic iure minima obcaecati odit perferendis, placeat suscipit tempora totam ut.
  </div>
</article>
