
.for_img1 {
    height:980px;
    /*background: url(img1/freedom.jpg) 100% 100% no-repeat;*/
    /*background: url("{{pageData.home1.text}}");*/
    background: url('../../assets/images/freedom.jpg') 100% 100% no-repeat;
    background-size: cover;
}
.main1 {
    margin: 0 15px;
    padding-top: 5%;
    overflow: hidden;
}
h1 {
    text-align: center;
}
h2 {
    text-align: center;
    color: darkgreen;
}
h3 {
    text-align: center;
    margin-top: 30px;
    color: darkslateblue;
}
.btn1 {
    margin-left: 50px;
    margin-top: 207px;
    position: relative;
}
.price {
    position: absolute;
    bottom: 0;
    right: 65px;
}
.card {
    position: absolute;
    right: 0;
    width: 358px;
}
.h3_3 {
    font-style: italic;
    color: #343A40;
}
@media (max-width: 1240px) {
    .for_img1 {
        height: 800px;
    }
    .btn1 {
        margin-left: 25px;
    }
}
@media (max-width: 1100px) {
    .for_img1 {
        height: 700px;
    }
    .h3_3 {
        color: #FCFCFC;
    }
}
@media (max-width: 900px) {
    .for_img1 {
        height: 600px;
    }
    .btn1 {
        margin-top: 150px;
        margin-left: 0;
    }
}
@media (max-width: 800px) {
    .for_img1 {
        height: 500px;
    }
    .btn1 {
        margin-top: 110px;
    }
}
@media (max-width: 700px) {
    .for_img1 {
        height: 450px;
    }
    .btn1 {
        margin-top: 90px;
        margin-left: 0;
    }
    h1 {
        font-size: 30px;
    }
    h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 22px;
        color: #FCFCFC;
    }
}
@media (max-width: 575px) {
    .main1 {
        padding-top: 14%;
    }
    .btn1 {
        margin-top: 20px;
    }
}
@media (max-width: 540px) {
    h1 {
        font-size: 25px;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 18px;
    }
    .for_img1 {
        background-position-x: -60px;
    }
}
@media (max-width: 360px) {
    .for_img1 {
        background-position-x: -102px;
    }
    /*.main1 {*/
        /*padding-top: 14%;*/
    /*}*/
}
@media (max-width: 320px) {
    .for_img1 {
        background-position-x: -102px;
    }
    .main1 {
        padding-top: 14%;
    }
    .btn1 a {
       font-size: 12px;
    }
    .main1 {
        padding-top: 5%;
    }
}
@media (max-width: 270px) {
    h3 {
        margin-top: 5px;
    }
    .btn1 a:first-of-type {
        display: block;
        width: 120px;
        margin-bottom: 5px;
    }
}