<article *ngIf="pageData$ | async as pageData" class="for_img1">
    <div class="bg1">
        <!--<h2>{{pageData.video1.text}}</h2>-->
        <h1>{{pageData.video1.text}}</h1>
        <vg-player>
            <video [vgMedia]="media" #media id="singleVideo" preload="auto" controls>
                <source src="../../assets/video/video1.mp4" type="video/mp4">
            </video>
        </vg-player>
        <!------------------------------------------------------------------------------>
        <h1>{{pageData.video2.text}}</h1>
        <vg-player>
            <video [vgMedia]="media" #media id="singleVideo2" preload="auto" controls>
                <source src="../../assets/video/video2.mp4" type="video/mp4">
            </video>
        </vg-player>
        <!----------------------------------------------------------------------->
        <h1>{{pageData.video3.text}}</h1>
        <vg-player>
            <video [vgMedia]="media" #media id="singleVideo3" preload="auto" controls>
                <source src="../../assets/video/video3.mp4" type="video/mp4">
            </video>
        </vg-player>
        <!---------------------------------------------------------------------->
        <h1>{{pageData.video4.text}}</h1>
        <vg-player>
            <video [vgMedia]="media" #media id="singleVideo4" preload="auto" controls>
                <source src="../../assets/video/video4.mp4" type="video/mp4">
            </video>
        </vg-player>
    </div>
</article>