.bg1 {
    padding: 30px;
    height:100%;
    background: url(../img_main/fresh_snow.png) 100% 100% no-repeat;
    background-size: cover;
    min-height: 700px;
}
vg-player {
    /*font-family: 'videogular';*/
    /*position: relative;*/
    /*display: flex;*/
    width: 650px;
    /*height: 100%;*/
    /*overflow: hidden;*/
    background-color: black;
    margin: 30px auto;
}
h1 {
    font-size: 25px;
    font-style: italic;
}
h2 {
   font-size: 22px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: -20px;
}
@media (max-width: 700px) {
    h1 {
        font-size: 18px;
    }
    h2 {
        font-size: 16px;
    }
    vg-player {
        width: 95%;
    }
}

