<article class="bg1">
  <div class="my_container_content_2">
    <h1>Schedule</h1>

    <div class="row for_mrg_lft">
      <ul *ngFor="let t of filteredTasks" class="list-group for_ul col-6 col-sm-4 col-md-3 col-xl-2">
        <li class="list-group-item text-center">{{ t.task }}</li>
        <!--<li *ngIf="t.priority?.length > 0" class="list-group-item separate_paragrafs"><span>9:00</span>  {{ t.priority }}</li>-->
        <li [className]="t.priority?.length > 5 ? 'bg_full list-group-item separate_paragrafs' : 'bg-warning list-group-item separate_paragrafs'"><span class="time">9:00</span>  <span class="d_none">{{ t.priority }}</span></li>
        <li [className]="t.comment?.length > 5 ? 'bg_full list-group-item separate_paragrafs' : 'bg-warning list-group-item separate_paragrafs'"><span class="time">9:45</span> <span class="d_none">{{ t.comment }}</span></li>
        <li [className]="t.details?.length > 5 ? 'bg_full list-group-item separate_paragrafs' : 'bg-warning list-group-item separate_paragrafs'"><span class="time">10:30</span> <span class="d_none">{{ t.details }}</span></li>
        <li [className]="t.d4?.length > 5 ? 'bg_full list-group-item separate_paragrafs' : 'bg-warning list-group-item separate_paragrafs'"><span class="time">11:15</span> <span class="d_none">{{ t.d4 }}</span></li>
        <li [className]="t.d5?.length > 5 ? 'bg_full list-group-item separate_paragrafs' : 'bg-warning list-group-item separate_paragrafs'"><span class="time">12:00</span> <span class="d_none">{{ t.d5 }}</span></li>
        <li [className]="t.d6?.length > 5 ? 'bg_full list-group-item separate_paragrafs' : 'bg-warning list-group-item separate_paragrafs'"><span class="time">13:45</span> <span class="d_none">{{ t.d6 }}</span></li>
      </ul>
    </div>
  </div>
</article>