.color1 {
    color: red;
}
.thumbnail_1 {
    padding: 20px;
    line-height: 1.42857143;
    border: 1px solid #ddd;
    border-radius: 4px;
    max-width: 500px;
    margin: 0 auto;
    background-color: #ffffff;
}
.bg1 {
    padding: 30px;
    height:100%;
    background: url(../../../assets/images/img_main/fresh_snow.png) 100% 100% no-repeat;
    background-size: cover;
    min-height: 700px;
}