.video1 {
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
}

.video_0 {
    text-align: center;
}

.bg1 {
    height: 100%;
    background: url(../img_main/fresh_snow.png) 100% 100% no-repeat;
    background-size: cover;
}

vg-player {
    /*font-family: 'videogular';*/
    /*position: relative;*/
    /*display: flex;*/
    width: 50%;
    /*height: 100%;*/
    /*overflow: hidden;*/
    background-color: black;
    margin: 30px auto;
}
h1 {
    font-size: 25px;
    font-style: italic;
    padding-top: 30px;
}