<article *ngIf="pageData$ | async as pageData" class="for_img1">
    <section class="main1">
        <h1 @slide>{{pageData.mainList1.text}}</h1>
        <h2 @fade>{{pageData.mainList2.text}}</h2>
        <h3 @slideRight>{{pageData.mainList3.text}}</h3>
        <h3 @slideBottom class="h3_3">{{pageData.mainList4.text}}</h3>
        <div class="fixed_bottom">
            <a routerLink="/start-learn" class="btn btn-success text-white">{{pageData.mainList_btn_1.text}}</a>
            <a routerLink="/how-it-works" class="btn btn-outline-warning text-white">{{pageData.mainList_btn_2.text}}</a>

        </div>
    </section>
</article>

