<form #f="ngForm" (ngSubmit)="save(f.value)">
  <div class="form-group">
    <label for="task">Task</label>
    <textarea rows="2" cols="45" #task="ngModel" [(ngModel)]="tasks.task" name="task" id="task" type="text" class="form-control"></textarea>
    <div class="alert alert-danger" *ngIf="task.touched && task.invalid">Task is required</div>
  </div>
  <div class="form-group">
    <label for="priority">Priority</label>
    <input #priority="ngModel" [(ngModel)]="tasks.priority" name="priority" id="priority" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea rows="10" cols="45" [(ngModel)]="tasks.comment" name="comment" id="comment" type="text" class="form-control"></textarea>
  </div>
  <div class="form-group">
    <label for="imageUrl">Image URL</label>
    <input #imageUrl="ngModel" [(ngModel)]="tasks.imageURL" name="imageUrl" id="imageUrl" type="text" class="form-control">
    <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
      <div *ngIf="imageUrl.errors.url">Please enter a valid URL.</div>
    </div>
  </div>

  <h2>Русский блок</h2>
  <div class="form-group">
    <label for="task">Задача</label>
    <textarea rows="2" cols="45" #task="ngModel" [(ngModel)]="tasks.taskru" name="taskru" id="taskru" type="text" class="form-control"></textarea>
    <div class="alert alert-danger" *ngIf="task.touched && task.invalid">Task is required</div>
  </div>
  <div class="form-group">
    <label for="priority">Приоритет</label>
    <input #priority="ngModel" [(ngModel)]="tasks.priorityru" name="priorityru" id="priorityru" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="comment">Комментарий</label>
    <textarea rows="10" cols="45" [(ngModel)]="tasks.commentru" name="commentru" id="commentru" type="text" class="form-control"></textarea>
  </div>
  <div class="form-group">
    <label for="imageUrl">URL изображения</label>
    <input #imageUrl="ngModel" [(ngModel)]="tasks.imageURL" name="imageUrl" id="imageUrl" type="text" class="form-control">
    <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
      <div *ngIf="imageUrl.errors.url">Please enter a valid URL.</div>
    </div>
  </div>

  <h2>Український блок</h2>
  <div class="form-group">
    <label for="task">Завдання</label>
    <textarea rows="2" cols="45" #task="ngModel" [(ngModel)]="tasks.taskua" name="taskua" id="taskua" type="text" class="form-control"></textarea>
    <div class="alert alert-danger" *ngIf="task.touched && task.invalid">Task is required</div>
  </div>
  <div class="form-group">
    <label for="priority">Пріоритет</label>
    <input #priority="ngModel" [(ngModel)]="tasks.priorityua" name="priorityua" id="priorityua" type="text" class="form-control">
  </div>
  <div class="form-group">
    <label for="comment">Коментарій</label>
    <textarea rows="10" cols="45" [(ngModel)]="tasks.commentua" name="commentua" id="commentua" type="text" class="form-control"></textarea>
  </div>
  <div class="form-group">
    <label for="imageUrl">URL-адреса зображення</label>
    <input #imageUrl="ngModel" [(ngModel)]="tasks.imageURL" name="imageUrl" id="imageUrl" type="text" class="form-control">
    <div class="alert alert-danger" *ngIf="imageUrl.touched && imageUrl.invalid">
      <div *ngIf="imageUrl.errors.url">Please enter a valid URL.</div>
    </div>
  </div>
  <button class="btn btn-primary">Save</button>
  <button type="button" (click)="delete()" class="btn btn-danger">Delete</button>
</form>
