
h1 {
    font-size: 25px;
}
table {
    margin: 25px auto;
}
td {
    background-color: lightyellow;
    padding: 5px;
}
th {
    background-color: burlywood;
}
input {
    height: 30px;
    padding-left: 5px;
}
.for_table thead tr th:first-of-type {
    width: 30%;
}
.for_table thead tr th:nth-child(3) {
    width: 60%;
}
.for_table td {
    text-align: left;
    vertical-align: middle;
}
.for_table td:nth-child(2), .for_table td:last-of-type {
    text-align: center;
}
button.btn-success, .add_new a {
    margin-bottom: 4px;
}
/*.todo_wrapper {*/
    /*background-image: url(img/polynesia.jpg);*/
/*}*/
.todo_wrapper {
    margin: 0 15px;
}
.todo_wrapper img {
  height: 0%;
}
.for_li {
    margin: 20px 0;
}

.for_li li {
    background-color: aliceblue;
}
.img2 {
    text-align: center;
}
h1 {
    font-size: 25px;
    font-style: italic;
    color: red;
    padding-top: 20px;
}
.bg1 {
    padding: 30px;
    height:100%;
    background: url(../img_main/fresh_snow.png) 100% 100% no-repeat;
    background-size: cover;
    min-height: 700px;
}