<!--<img [src]="LOGO" alt="img1">-->
<article *ngIf="pageData$ | async as pageData" class="for_img1">
    <section class="main1">
        <h1>{{pageData.home1.text}}</h1>
    </section>
</article>
<!--<form [formGroup]="form">-->
    <!--<div *ngFor="let key of getKeys(this.form.controls)" [formGroupName]="key">-->
        <!--<h1>{{key}}</h1>-->
        <!--<div *ngFor="let control of getKeys(form.controls[key].controls)">-->
            <!--<input type="text" [formControlName]="control">-->
        <!--</div>-->
    <!--</div>-->
    <!--&lt;!&ndash;<div *ngFor="let row of form.controls">{{row | json}}</div>&ndash;&gt;-->
<!--</form>-->
<!--<div>{{form.value | json}}</div>-->
<!--<article [ngSwitch]="current1" class="bg1">-->
    <!--<h1 *ngSwitchCase="'en'">On this page, you can add, edit or delete paragraphs or images dynamically</h1>-->
    <!--<h1 *ngSwitchCase="'ru'">На этой странице вы можете добавлять, редактировать или удалять абзацы или изображения динамически</h1>-->
    <!--<h1 *ngSwitchCase="'ua'">На цій сторінці ви можете додавати, редагувати або видаляти абзаци або зображення динамічно</h1>-->


<app-loader *ngIf="showSpinner"></app-loader>

        <ul *ngFor="let t of filteredTasks" class="list-group for_li">
            <li *ngIf="t.task?.length > 0" class="list-group-item separate_paragrafs">{{ t.task }}</li>
            <li *ngIf="t.comment?.length > 0"  class="list-group-item separate_paragrafs">
                <div class="row">
                <div class="col">{{ t.comment }}</div>
                    <div class="col-5 align-self-center img2">
                        <h3 *ngIf="t.priority?.length > 0">{{ t.priority }}</h3>
                        <img *ngIf="t.imageUrl" [src]="t.imageUrl" alt="{{ t.title }}">
                        <p></p>
                    </div>
                </div>
            </li>
            <li *ngIf="t.task?.length > 0 || t.comment?.length > 0" class="list-group-item"><a [routerLink]="['/home/', t.$key]">Edit</a></li>
        </ul>

